<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <conversionRule conversionWord="logId" converterClass="com.lijing.entity.util.UuidConvert" />

    <!-- 管控台日志打印，发布生产需注释 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder charset="utf-8"> <!-- encoder 可以指定字符集，对于中文输出有意义 -->
            <!-- %.-1level 只显示信息级别的首字母,%-5level 左对齐显示信息级别全称 -->
            <!-- 如需自定义关键字，用 %mdc{键名} 表示,程序中用MDC.put("键名","键值")设置，可动态设置 [%logger:%line]-->
            <Pattern>[%d] [%-5level] %logger{0} %line -- [%logId] %msg%n</Pattern>
        </encoder>
    </appender>


    <appender name="error" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>/data/log/spider-manager-error.log</File>
        <encoder>
            <Pattern>[%date] [%-5level] %c{40} %line --%mdc{client} [%logId] %msg%n</Pattern>
            <charset>UTF-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/data/log/spider-manager-error-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>7</maxHistory>
            <TimeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>512MB</maxFileSize>
            </TimeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>
    <!-- 普通日志文件,排除错误日志 -->
    <appender name="logfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>/data/log/spider-manager.log</File>
        <encoder>
            <Pattern>[%date] [%-5level] %c{40} %line --%mdc{client} [%logId] %msg%n</Pattern>
            <charset>UTF-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/data/log/spider-manager-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>7</maxHistory>
            <TimeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>512MB</maxFileSize>
            </TimeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>DENY</onMatch>
            <onMismatch>ACCEPT</onMismatch>
        </filter>
    </appender>

    <!-- 外部jar包 日志级别设置 -->
    <logger level="ERROR" name="com.mchange" />
    <logger level="OFF" name="com.baofoo.ps.log" />
    <logger level="ERROR" name="com.ibatis" />
    <logger level="ERROR" name="org.mybatis" />
    <logger level="INFO" name="org.springframework"/>
    <logger level="ERROR" name="java.sql"/>
    <logger level="ERROR" name="org.apache"/>
    <logger level="INFO" name="com.alibaba"/>
    <logger level="INFO" name="org.apache.zookeeper"/>
    <logger level="ERROR" name="org.I0Itec"/>
    <logger level="ERROR" name="org.dozer"/>
    <logger level="OFF" name="org.jdbcdslog"/>
    <logger level="ERROR" name="java.sql.SQLException"/>
    <logger level="ERROR" name="org.jdbcdslog.StatementLogger"/>
    <logger level="OFF" name="org.springframework.dao.CannotAcquireLockException"/>
    <!--<logger level="DEBUG" name="org.spring"/>-->

    <!-- 线上日志输出到文件-->
    <root level="INFO" name="com.xinyan">
        <appender-ref ref="logfile"/>
        <appender-ref ref="STDOUT"/>
    </root>

     <!--输出到控制台和文件，可定义更多的 Appender-->
    <!--<logger level="DEBUG" name="com">-->
        <!--<appender-ref ref="STDOUT"/>-->
    <!--</logger>-->
</configuration>